{% load static %}
<html>
<head>

    <title>
        {% block title %}Home{% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/81c65d2303.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>

<div id="container">
    {% include 'core/left_navigation_menu.html' %}

    {% block container %}

    {% endblock %}

</div>

</body>
</html>
