{% extends 'core/base.html' %}
{% load static %}
{% load percent %}
{% block title %}
    Главная страница
{% endblock %}
{% block container %}
    {% load humanize %}
    <div class="main" id="main">

        {% for article in object_list %}
            <div class="shadow p-3 m-4 news-block rounded row">
                <div class="col-9">
                    <h4 class="font-weight-normal">{{ article.title }}</h4>
                    <h5><a href="{{ article.article_link }}">Ссылка на статью</a></h5>
                    <p>{{ article.last_update }}</p>
                </div>
                <div class="">
                    <div class="d-flex my-2" style="height: 20px">
                        <p class="{% if article.news_type == 0 %}
                        yandex-circle
                    {% else %}
                        vk-circle
                    {% endif %} mr-2"></p>
                        <p>{% if article.news_type == 0 %}
                            Яндекс новости
                        {% else %}
                            Вконтакте
                        {% endif %} </p>
                    </div>
                    <div class="my-2">
                        {% if article.tone_type == 0 %}
                            <img class="tone-type-icon" src="{% static 'core/icons/positive.png' %}"
                                 alt="Tone type icon">
                            <span>Положительно: {% percent article.tone_value %}%</span>
                        {% elif article.tone_type == 1 %}
                            <img class="tone-type-icon" src="{% static 'core/icons/negative.png' %}"
                                 alt="Tone type icon">
                            <span>Негативно: {%percent article.tone_value %}%</span>
                        {% else %}
                            <img class="tone-type-icon" src="{% static 'core/icons/need_attention.png' %}"
                                 alt="Tone type icon">
                            <span>Требует внимания: {% percent article.tone_value %}%</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="pagination shadow p-4 m-4 pt-3 mt-3 news-block rounded">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="border rounded btn btn-outline-dark">1</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="border rounded btn btn-outline-dark">previous</a>
                {% endif %}

                <span class="current">
                    <a href="" class="border rounded btn btn-outline-primary">{{ page_obj.number }}</a>
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="border rounded btn btn-outline-dark">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"
                       class="border rounded btn btn-outline-dark">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>
    </div>

    {% include 'core/right_navigation_menu.html' %}
{% endblock %}