<div class="rightMenu">
    <div class="rightMenuBlock1">Настройки новостей</div>
    <form>
        <div class="rightMenuBlock2">

            <div class="rightMenuItem">
                <span class="blue m-2 mb-3"><i class="fas fa-font" style="margin-right:1em;"></i> Источники</span>
                <div class="form-group mt-2 d-flex flex-wrap" style="padding-top:0.6em;">
                    <div class="custom-control custom-switch custom-switch-md">
                        <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                        <label class="custom-control-label" for="customSwitch4">Яндекс Новости</label>
                    </div>
                    <div class="custom-control custom-switch custom-switch-md">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5" checked>
                        <label class="custom-control-label" for="customSwitch5">Вконтакте</label>
                    </div>
                </div>
            </div>

            <div class="rightMenuItem">
                <span class="blue"><i class="fas fa-clock" style="margin-right:1em;"></i> Время</span>
                <div class="form-group mt-2" style="padding-top:0.6em;">
                    <select class="form-control" id="colorsSelect" style="">
                        <option>Сначала новые</option>
                        <option>Сначала старые</option>
                    </select>
                </div>
            </div>

            <div class="rightMenuItem">
                <span class="blue"><i class="fas fa-exclamation" style="margin-right:1em;"></i> Важность</span>
                <div class="form-group mt-2" style="padding-top:0.6em;">
                    <select class="form-control" id="colorsSelect" style="">
                        <option>Сначала важные</option>
                        <option>Сначала неважные</option>
                    </select>
                </div>
            </div>


        </div>
    </form>
</div>